<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>debugger</title>
</head>
<body>
    <button>
        <a href="/">Home</a>
    </button>
    <button><a href="/debug/debug_db">debug db</a></button>
    <form action="/debug/reset_db" method="post">
        <button type="submit">reset db</button>
    </form>
</body>
</html>