<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <button><a href="/">Go Home</a></button> <br><br>
    <form action="/users/login" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="text" name="password">
        <button type="submit">Login</button>
    </form>
    <p>If you don't have an account, sign up here:</p> <br>
    <button><a href="/users/signUp">Sign up</a></button>
</body>
</html>