<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Subs</title>
</head>
<body>
    <%- include('header', {session: jedditInfo.session}); %>
    <h2>Subjeddits:</h2>
    <ul>
        <% for (let sub of jedditInfo.subList) { %>
            <li><a href="/subs/show/<%= sub.name %>"><%= sub.name %></a></li>
            <% } %>
        </ul>
    <br>
    <% if(jedditInfo.session.username) { %>
        <button><a href="/subs/create">Create a new subjeddit</a></button>
    <% } %>
</body>
</html>